# Alchemy Connections
ALCHEMY_CONNECTION_POLYGON=
ALCHEMY_CONNECTION_ETHEREUM=
ALCHEMY_CONNECTION_ARBITRUM=

# RPC Endpoints
XDAI_RPC=
AVAX_RPC=
BASE_RPC=
TRON_RPC=
CRONOS_RPC=
FANTOM_RPC=
ETHEREUM_RPC=
OPTIMISM_RPC=
ARBITRUM_RPC=

# API Keys
ZEROX_API=
GRAPH_API_KEY=
OSMOSIS_API_KEY=
SMARDEX_SUBGRAPH_API_KEY=

# Protocol Access
TRADERJOE=
VENDOR_FINANCE=

# Webhooks
DISCORD_WEBHOOK=

# Database
REDIS_URL=
DATABASE_URL=

S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

OTEL_SERVICE_NAME=yield-server
OTEL_SERVICE_VERSION=1.0.0
OTEL_EXPORTER_OTLP_ENDPOINT=https://api.signoz.thirdguard.io