name: Deploy

on:
  push:
    branches: [master]

jobs:
  deploy:
    strategy:
      matrix:
        node-version: [14.x]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - name: Deploy infrastructure stack
        run: npm run deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          ETHERSCAN: ${{ secrets.ETHERSCAN}}
          FANTOMSCAN: ${{ secrets.FANTOMSCAN }}
          POLYGONSCAN: ${{ secrets.POLYGONSCAN }}
          SNOWTRACE: ${{ secrets.SNOWTRACE }}
          ARBISCAN: ${{ secrets.ARBISCAN }}
          OPTIMISM: ${{ secrets.OPTIMISM }}
          INFURA_CONNECTION: ${{ secrets.INFURA_CONNECTION }}
          ALCHEMY_CONNECTION_POLYGON: ${{ secrets.ALCHEMY_CONNECTION_POLYGON }}
          ALCHEMY_CONNECTION_ARBITRUM: ${{ secrets.ALCHEMY_CONNECTION_ARBITRUM }}
          XDAI: ${{ secrets.XDAI }}
          XDAI_RPC: ${{ secrets.XDAI_RPC }}
